@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Sans', sans-serif;
}

.fade-up {
  opacity: 0;
  transform: translateY(90px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.fade-in {
  animation: fade-in 0.2s ease-out;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}
